<table class="min-w-full mt-5">
  <thead>
    <tr class="bg-gray-700 text-white">
      <th class="px-6 py-3 text-left">Name</th>
      <th class="px-6 py-3 text-left">Description</th>
      <th class="px-6 py-3 text-left">Price</th>
      <th class="px-6 py-3 text-left">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% products.each do |product| %>
      <tr>
        <td class="px-6 py-4"><%= product.name %></td>
        <td class="px-6 py-4"><%= product.description %></td>
        <td class="px-6 py-4"><%= number_to_currency(product.price) %></td>
        <td class="px-6 py-4">
          <%= link_to 'Mostrar', admin_product_path(product), class: "btn btn-sm btn-info" %>
          <%= link_to 'Editar', edit_admin_product_path(product), class: "btn btn-sm btn-warning" %>
          <%= link_to 'Delete', admin_product_path(product), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @products %>