<div class="mx-auto font-bold rounded-lg py-5 px-10">
  <h2 class="text-2xl font-bold text-center mt-10">Product details</h2>
  <div class="flex flex-col gap-5">
    <p>Name: <%= @product.name %></p>
    <p>Description: <%= @product.description %></p>
    <p>Price: <%= number_to_currency(@product.price) %></p>
    <p>Image:</p>
      <div class="relative bg-center bg-cover bg-no-repeat rounded-md pb-[56.25%]" style="background-image: url(<%= url_for(@product.image) %>)"></div>
    
    <div class="flex flex-reverse gap-5">  
      <%= link_to 'Edit', edit_admin_product_path(@product), class: "btn btn-warning" %>
      <%= link_to 'Return', admin_products_path, class: "btn" %>
    </div>
  </div>
</div>